@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode/CascadiaCode.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode/CascadiaCodeItalic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/segoeui.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/segoeuii.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/segoeuib.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Cascadia Code, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}