@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode/CascadiaCode.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode/CascadiaCodeItalic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/Segoe UI.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/Segoe UI Italic.woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI/Segoe UI Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}



html,
body,
#__next {
  height: 100%
}


body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Cascadia Code, sans-serif;
  font-size: 18px;
  -webkit-animation: rotate-background 8s ease-in-out infinite;
  animation: rotate-background 8s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes rotate-background {
  0% {
    -webkit-backdrop-filter: backdrop-hue-rotate(-43deg);
    -moz-backdrop-filter: hue-rotate(-43deg);
    -ms-backdrop-filter: hue-rotate(-43deg);
    -webkit-backdrop-filter: hue-rotate(-43deg);
    backdrop-filter: hue-rotate(-43deg);
  }

  100% {
    -webkit-backdrop-filter: hue-rotate(43deg);
    -moz-backdrop-filter: hue-rotate(43deg);
    -ms-backdrop-filter: hue-rotate(43deg);
    -webkit-backdrop-filter: hue-rotate(43deg);
    backdrop-filter: hue-rotate(43deg);
  }
}

@-webkit-keyframes rotate-background {
  0% {
    -webkit-backdrop-filter: backdrop-hue-rotate(-43deg);
    -moz-backdrop-filter: hue-rotate(-43deg);
    -ms-backdrop-filter: hue-rotate(-43deg);
    -webkit-backdrop-filter: hue-rotate(-43deg);
    backdrop-filter: hue-rotate(-43deg);
  }

  100% {
    -webkit-backdrop-filter: hue-rotate(43deg);
    -moz-backdrop-filter: hue-rotate(43deg);
    -ms-backdrop-filter: hue-rotate(43deg);
    -webkit-backdrop-filter: hue-rotate(43deg);
    backdrop-filter: hue-rotate(43deg);
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}